@inherits LayoutComponentBase
@inject AuthenticationStateProvider authenticationStateProvider
    
<div class="sidebar">
    <NavMenu />
</div>

<div class="main" style="z-index: 10">

    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <NavLink class="nav-link" href="login" @onclick="(() => Logout())">
                    <span class="oi oi-plus" aria-hidden="true"></span> Logout
                </NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-plus" aria-hidden="true"></span> Login
                </NavLink>
            </NotAuthorized>
        </AuthorizeView>
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    public void Logout()
    {
        ((CustomAuthenticationStateProvider)authenticationStateProvider).MarkUserAsLoggedOut();
    }
}