@inject ICarService carService
@inject IEmployeeService employeeService
@inject IRequestService requestService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@attribute [AuthorizeRoles(Role.Manager)]

<div style="width: 600px; height: 300px">
    <form>
        <div class="form-group">
            <label for="Name" class="control-label">Opis Zgłoszenia</label>
            <textarea @bind="request.Description" @bind:event="oninput" class="form-control" id="Description" rows="6" maxlength="300" style="resize:none"></textarea>
            <label>Pozostało: @((300 - request.Description.Length)) znaków.</label>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" @onclick="() => CreateRequest(request)">Zapisz</button>
        </div>
    </form>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter]
    public Car Car { get; set; }
    [Parameter]
    public Employee Manager { get; set; }

    private Request request = new Request() 
    {
        Description = ""
    };

    protected async Task CreateRequest(Request request)
    {
        this.request.Reqistered = DateTime.Now;
        this.request.Car = Car;
        this.request.Manager = Manager;
        await requestService.CreateAsync(request);
        await requestService.SaveChangesAsync();
        await ModalInstance.CloseAsync(ModalResult.Ok(request));
    }
}
