@page "/editActivity/{ActivityId:guid}"
@inject IActivityService activityService;
@inject IEmployeeService employeeService;
@inject IRequestService requestService;

@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

    <form>
        <div class="form-group">
            <textarea placeholder="Opis aktywności" @bind="activity.Result" class="form-control" id="Description" rows="4" maxlength="400" style="resize:none"></textarea>
        </div>
    </form>
@code {
    [Parameter]
    public Guid ActivityId { get; set; }

    private Activity activity;

    protected override void OnInitialized()
    {
        activity = activityService.GetActivitySync(ActivityId);
    }
}
