@page "/editActivity/{activityJSON}"
@using System.Text.Json;
@using System.Text.Json.Serialization;
<h3>EditActivity</h3>

@code {
    [Parameter] public string activityJSON { get; set; }
    private Activity activity { get; set; }

    protected override void OnParametersSet()
    {
        activity = JsonSerializer.Deserialize<Activity>(activityJSON);
        //base.OnParametersSet();
    }
}
