@page "/"

<h1>System Obsługi Napraw</h1>
<br />

<AuthorizeView>
    <NotAuthorized>
        Witaj w serwisie!<br />
        Zaloguj się, aby skorzystać z jego funkcjonalności.
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Roles="@($"{Role.Manager}")">
    <Authorized>
        Witaj menadżerze!
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="@($"{Role.Worker}")">
    <Authorized>
        Witaj pracowniku!
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="@($"{Role.Administrator}")">
    <Authorized>
        Witaj adminie!<br />
    </Authorized>
</AuthorizeView>